<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Gst rate:</b>
  <%= @order.gst_rate %>
</p>

<p>
  <b>Pst rate:</b>
  <%= @order.pst_rate %>
</p>

<p>
  <b>Hst rate:</b>
  <%= @order.hst_rate %>
</p>

<p>
  <b>Order status:</b>
  <%= @order.order_status %>
</p>

<p>
  <b>Customer:</b>
  <%= @order.customer_id %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
