<p id="notice"><%= notice %></p>

<p>
  <b>Main address:</b>
  <%= @address.main_address %>
</p>

<p>
  <b>Street no:</b>
  <%= @address.street_no %>
</p>

<p>
  <b>Street name:</b>
  <%= @address.street_name %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>Postal code:</b>
  <%= @address.postal_code %>
</p>

<p>
  <b>Customer:</b>
  <%= @address.customer_id %>
</p>

<p>
  <b>Province:</b>
  <%= @address.province_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
