<% if product.manufacturer.present? %>
  <p><span class="column">Manufacturer: </span><%= product.manufacturer.Name %></p>
<% else %>
Manufacturer name not found.
<% end %>
<h1><%= product.Name %></h1>
<% if product.image_url.present? %>
  <%= image_tag product.image_url %>
<% end %>
<p><span class="column">Stock Quantity: </span><%= product.Stock_quantity %></p>
<h2>Description</h2>
<p class="description"><%= product.Description %></p>
<p>This product has <%= pluralize product.reviews.count, 'review' %>.</p>
<%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
