<h1><%= product.Name %></h1>
 <% if product.image_url.present? %>
    <%= image_tag product.image_url, :width => '400', :class => 'main_image' %>
 <% end %>
<div class="info">
    <% if product.sale_price.present? %>
        <h3><span class="column">Price: </span><s>$<%= product.Price %></s></h3>
        <h3><span class="column">Sale Price: </span>$<%= product.sale_price %></h3>
    <% else %>
        <h3><span class="column">Price: </span>$<%= product.Price %></h3>
    <% end %>
    <p>This product has <%= pluralize product.reviews.count, 'review' %>.</p>
    <div class="show">
        <%= link_to 'View Item', store_path(product.id) %>
    </div>
</div>
<div class="reviews">
</div>
