<h1>All Products</h1>
<% @products.each do |product| %>
  <h1><%= product.Name %></h1>
  <div class="image">
    <% if product.image_url.present? %>
        <%= image_tag product.image_url, :width => '400px', :class => 'main_image' %>
    <% end %>
  </div>
  <div class="info">
    <h3><span class="column">Price: </span>$<%= product.Price %></h3>
    <h2>Description</h2>
    <p><%= product.Description %></p>
  <div class="show">
    <%= link_to 'View Item', store_path(product.id) %>
  </div>
  </div>
  <div class="reviews">
    <p>This product has <%= pluralize product.reviews.count, 'review' %>.</p>
  </div>
<% end %>
