<div id="brand">
  <h3>
    Shop by Brand:
  </h3>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <%= image_tag('banners/nikebanner2.jpg', :alt => 'nike') %>
        <p class="flex-caption">New Nike Boots!</p>
      </li>
      <li>
        <%= image_tag("banners/adidasbanner1.jpg", :alt => "adidas") %>
        <p class="flex-caption">Adidas is all in.</p>
      </li>
      <li>
        <%= image_tag("banners/pumabanner1.jpg", :alt => "puma") %>
        <p class="flex-caption">New Puma 2012 collection</p>
      </li>
      <li>
        <%= image_tag("banners/umbrobanner2.jpg", :alt => "umbro") %>
        <p class="flex-caption">Shop Umbro</p>
      </li>
    </ul>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  </script> 
</div>

<div id="sale">
  <h3>
    On Sale Items
  </h3>
  <p>On Sale Items go here</p>
</div>

<div id="recent">
  <h3>
  Recent Items
  </h3>
  <% @products.each do |product| %>
    <%= link_to(image_tag(product.image_url, :height => '100px'), store_path(product.id)) %>
  <% end %>
</div>




