<!DOCTYPE html>
<html>
<head>
  <title>SoccerToMe - Your One stop shop for all your soccer needs!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= image_tag('Logos/SoccerToMe.png', :height => '150', :id => 'logo') %>
</header>
<div id="container">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'All Products', all_path %></li>
      <li><%= link_to 'All boots', boots_path %></li>
      <li><%= link_to 'All kits', kits_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact Us', contact_path %></li>
    </ul>
    <div class="search">
      <%= form_tag results_path do %>
        <%= label_tag 'keyword', 'Search' %>
        <%= text_field_tag :keyword %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </nav>
  <div id="content">
    <%= yield %>
  </div>
  
  
</div>
<footer>
  <p>Created and Designed by Edward Clorina - 2012 copywrong</p>
  <p>Logo created by Joseph Loungamath</p>
</footer>
</body>
</html>
