<!DOCTYPE html>
<html>
<head>
  <title>SoccerToMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>SoccerToMe</h1>
  </header>
<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Products', products_path %></li>
    <li><a href="#">Boots</a></li>
    <li><a href="#">Kits</a></li>
    <li><a href="#">Search</a></li>
  </ul>
</nav>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
